.body {
  font-family: "Colonna MT", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  color: #ffffff;
  background-image: url('../public/fon.png'); 
  background-size: cover;
  background-repeat: no-repeat;
}



